/* Base styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Header styles */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-menu-logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-studio {
    color: #2E2F42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-list-item {
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.current {
    color: #404bbf;
}

.current::after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #404bbf;
    left: 0;
    border-radius: 2px;
    bottom: -1px;
}

.header-list-item:hover,
.header-list-item:focus {
    color: #404bbf;
}

.header-address ul {
    margin: 0;
}

.header-address-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section Zero styles */
.sectionzero {
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

.section-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.section-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    cursor: pointer;
    min-width: 169px;
    margin: 0 auto;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-button:hover,
.section-button:focus {
    background-color: #404bbf;
}

/* Section One styles */
.sectionone {
    background-color: #FFFFFF;
}

.sectionone-list {
    display: flex;
    gap: 24px;
}

.sectionone-item {
    width: calc((100% - 72px) / 4);
}

.sectionone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.sectionfirst-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.sectionfirst-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section Two styles */
.sectiontwo {
    background-color: #f4f4fd;
}

.listtwo-box {
    padding: 32px 0;
}

.secsectiontwo-list-link {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sectiontwo-links-list {
    width: 40px;
    height: 40px;
}

.sociallinks-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallinks-icon {
    fill: #f4f4fd;
}

.sociallinks-link:hover,
.sociallinks-link:focus {
    background-color: #404bbf;
}

.sectiontwo-bigtitle,
.sectionthree-bigtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.sectiontwo-title,
.sectionthree-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.sectiontwo-text,
.sectionthree-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.sectiontwo-list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    padding: 0 0 32px 0;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.sectiontwo-list {
    display: flex;
    gap: 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section Three styles */
.sectionthree {
    background-color: #ffffff;
}

.sectionthree-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sectionthree-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sectionthree-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.sectionthree-list-item:hover .sectionthree-hover-text {
    transform: translateY(0);
}

.sectionthree-list-text-bord {
    position: relative;
    overflow: hidden;
}

.sectionthree-hover-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sectionthree-border {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.sectionthree-img {
    width: 100%;
    display: block;
}
/* Footer styles */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-studio {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-main {
    margin-right: 120px;
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-sociallinks-list {
    display: flex;
    gap: 16px;
}

.footer-sociallinks-items {
    width: 40px;
    height: 40px;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-sociallinks-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sociallinks-link:hover,
.footer-sociallinks-link:focus {
    background-color: #31d0aa;
}